<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment_settings</key>
	<dict>
		<key>rapid_base_url</key>
		<string>https://ms-finance.p.rapidapi.com/</string>
		<key>rapid_api_key</key>
		<string>c71bd24df0msh41e4cf1f995582cp1c2fcbjsnb596809d1b47</string>
		<key>rapid_api_host</key>
		<string>ms-finance.p.rapidapi.com</string>
		<key>rapid_performance_id</key>
		<string>0P0000OQN8</string>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
